/J3FinalProject/nbproject/private/
/Deliverable3/nbproject/private/
/Deliverable3/build/
/TestWarWebApp/nbproject/private/
/TestWarWebApp/build/
/TestWarWebApp/dist/
/AddressBook/nbproject/private/
/AddressBookRefactored/nbproject/private/
/SingletonExample/nbproject/private/
/Vegetables/nbproject/private/
/J3FinalProject/build/
/JavaApplication20/nbproject/private/